@charset "utf-8";

@use "../common/scss/global" as *;

/*---------------------------------------------
lcl-txt-basic
---------------------------------------------*/
.lcl-txt-basic {
	font-size: 48px;
	font-weight: bold;
	line-height: 2.56;
}
.lcl-txt-disp {
	font-family: $f-disp;
	font-size: 96px;
	color: $c-orange;
}
