/*! destyle.css v4.0.0 | MIT License | https://github.com/nicolas-cusan/destyle.css */
/* Reset box-model and set borders */
/* ============================================ */
*,
::before,
::after {
  box-sizing: border-box;
  border-style: solid;
  border-width: 0;
}

/* Document */
/* ============================================ */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 * 3. Remove gray overlay on links for iOS.
 */
html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
  -webkit-tap-highlight-color: transparent; /* 3*/
}

/* Sections */
/* ============================================ */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/* Vertical rhythm */
/* ============================================ */
p,
table,
blockquote,
address,
pre,
iframe,
form,
figure,
dl {
  margin: 0;
}

/* Headings */
/* ============================================ */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
  margin: 0;
}

/* Lists (enumeration) */
/* ============================================ */
ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Lists (definition) */
/* ============================================ */
dt {
  font-weight: bold;
}

dd {
  margin-left: 0;
}

/* Grouping content */
/* ============================================ */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
  border-top-width: 1px;
  margin: 0;
  clear: both;
  color: inherit;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace; /* 1 */
  font-size: inherit; /* 2 */
}

address {
  font-style: inherit;
}

/* Text-level semantics */
/* ============================================ */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
  text-decoration: none;
  color: inherit;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted; /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: inherit; /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Replaced content */
/* ============================================ */
/**
 * Prevent vertical alignment issues.
 */
svg,
img,
embed,
object,
iframe {
  vertical-align: bottom;
}

/* Forms */
/* ============================================ */
/**
 * Reset form fields to make them styleable.
 * 1. Make form elements stylable across systems iOS especially.
 * 2. Inherit text-transform from parent.
 */
button,
input,
optgroup,
select,
textarea {
  -webkit-appearance: none; /* 1 */
  -moz-appearance: none;
       appearance: none;
  vertical-align: middle;
  color: inherit;
  font: inherit;
  background: transparent;
  padding: 0;
  margin: 0;
  border-radius: 0;
  text-align: inherit;
  text-transform: inherit; /* 2 */
}

/**
 * Correct cursors for clickable elements.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  cursor: pointer;
}

button:disabled,
[type=button]:disabled,
[type=reset]:disabled,
[type=submit]:disabled {
  cursor: default;
}

/**
 * Improve outlines for Firefox and unify style with input elements & buttons.
 */
:-moz-focusring {
  outline: auto;
}

select:disabled {
  opacity: inherit;
}

/**
 * Remove padding
 */
option {
  padding: 0;
}

/**
 * Reset to invisible
 */
fieldset {
  margin: 0;
  padding: 0;
  min-width: 0;
}

legend {
  padding: 0;
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * Correct the outline style in Safari.
 */
[type=search] {
  outline-offset: -2px; /* 1 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Fix font inheritance.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/**
 * Fix appearance for Firefox
 */
[type=number] {
  -moz-appearance: textfield;
}

/**
 * Clickable labels
 */
label[for] {
  cursor: pointer;
}

/* Interactive */
/* ============================================ */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/*
 * Remove outline for editable content.
 */
[contenteditable]:focus {
  outline: auto;
}

/* Tables */
/* ============================================ */
/**
1. Correct table border color inheritance in all Chrome and Safari.
*/
table {
  border-color: inherit; /* 1 */
  border-collapse: collapse;
}

caption {
  text-align: left;
}

td,
th {
  vertical-align: top;
  padding: 0;
}

th {
  text-align: left;
  font-weight: bold;
}

@font-face {
  font-family: "Beatrice-Headline";
  font-display: swap;
  src: url(/common/src/font/BeatriceHeadline-RegularItalic.woff) format("woff");
}
@font-face {
  font-family: "noto-sans-jp";
  font-display: swap;
  font-weight: normal;
  src: url(/common/src/font/NotoSansJP-Regular.woff2) format("woff2");
}
@font-face {
  font-family: "noto-sans-jp";
  font-display: swap;
  font-weight: bold;
  src: url(/common/src/font/NotoSansJP-Bold.woff2) format("woff2");
}
body {
  background: #101010;
  font-family: "noto-sans-jp", sans-serif;
  color: #ffffff;
}

/*---------------------------------------------
overlay
---------------------------------------------*/
.overlay {
  position: fixed;
  width: 100%;
  height: 100lvh;
  top: 0;
}
.overlay .overlay__line {
  width: 1px;
  height: 100%;
  background: #383838;
  position: absolute;
}
.overlay .overlay__line:nth-child(1) {
  inset: 0 auto auto 73px;
}
.overlay .overlay__line:nth-child(2) {
  inset: 0 73px auto auto;
}

/*---------------------------------------------
.header
---------------------------------------------*/
.header .header-top {
  position: absolute;
  border-bottom: 1px solid #383838;
  width: 100%;
  height: 68px;
}
.header .header-top .header-top__link {
  position: absolute;
  font-family: "Arial", sans-serif;
  font-size: 12px;
  color: #383838;
}
.header .header-top .header-top__link--left {
  inset: 50% auto auto 18px;
  transform: translateY(-50%);
}
.header .header-top .header-top__link--center {
  inset: 50% auto auto 50%;
  transform: translate(-50%, -50%);
}
.header .header-top .header-top__link--about {
  inset: 50% 13px auto auto;
  transform: translateY(-50%);
  font-family: "Beatrice-Headline", serif;
  font-size: 16px;
  color: #ffffff;
}

/*---------------------------------------------
menu
---------------------------------------------*/
.menu {
  z-index: 999;
  position: fixed;
  inset: auto 39px 34px auto;
}
.menu .menubtn {
  z-index: 1;
  position: relative;
  border-radius: 50%;
  width: 68px;
  height: 68px;
  background: #383838;
  transition: background 0.3s, transform 0.4s ease-in-out;
}
.menu .menubtn .menubtn__line {
  position: absolute;
  left: 23px;
  display: block;
  border-radius: 999px;
  width: 23px;
  height: 2px;
  background: #ffffff;
  transition: transform 0.3s ease-out, top 0.3s ease-out;
}
.menu .menubtn .menubtn__line:nth-child(1) {
  top: 25px;
  transform-origin: bottom;
  transition: transform 0.3s ease-out, top 0.3s ease-out;
}
.menu .menubtn .menubtn__line:nth-child(2) {
  top: 33px;
  transform-origin: bottom;
  transition: transform 0.3s 0.1s ease-out, top 0.3s 0.1s ease-out;
}
.menu .menubtn .menubtn__line:nth-child(3) {
  top: 41px;
  transform-origin: bottom;
  transition: transform 0.3s 0.2s ease-out, top 0.3s 0.2s ease-out;
}
.menu .menubtn .menubtn__line:nth-child(4) {
  top: 33px;
  background: transparent;
}
.menu .menubtn .menubtn__line:nth-child(4)::before, .menu .menubtn .menubtn__line:nth-child(4)::after {
  content: "";
  position: absolute;
  left: 3px;
  border-radius: 99px;
  width: 0;
  height: 100%;
  background: #ffffff;
  transform-origin: left center;
}
.menu .menubtn .menubtn__line:nth-child(4)::before {
  top: 8px;
  transform: rotate(-45deg) scaleX(0);
  transition: transform 0.2s ease-out;
}
.menu .menubtn .menubtn__line:nth-child(4)::after {
  top: -8px;
  transform: rotate(45deg) scaleX(0);
  transition: transform 0.2s ease-out;
}
.menu .menubtn--open {
  background: #ff4b12;
  transform: rotate(90deg);
}
.menu .menubtn--open .menubtn__line:nth-child(1), .menu .menubtn--open .menubtn__line:nth-child(2), .menu .menubtn--open .menubtn__line:nth-child(3) {
  transform: scaleY(0);
}
.menu .menubtn--open .menubtn__line:nth-child(4)::before {
  width: 100%;
  transform: rotate(-45deg) scaleX(1);
  transition: transform 0.2s 0.5s ease-out;
}
.menu .menubtn--open .menubtn__line:nth-child(4)::after {
  width: 100%;
  transform: rotate(45deg) scaleX(1);
  transition: transform 0.2s 0.6s ease-out;
}
.menu .nav {
  position: absolute;
  inset: 0 0 auto auto;
  height: 100%;
}
.menu .nav .nav-list {
  position: relative;
  border: 1px solid #383838;
  border-radius: 999px;
  width: 68px;
  height: 100%;
  background: #101010;
  transition: width 0.4s ease-out;
}
.menu .nav .nav-list .nav-list__item {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  opacity: 0;
  visibility: hidden;
  transition: right 0.4s ease-out, opacity 0.4s, visibility 0.4s;
}
.menu .nav .nav-list .nav-list__item .nav-list__link {
  display: flex;
  align-items: center;
  height: 100%;
  font-family: "Beatrice-Headline", serif;
  font-size: 16px;
}
.menu .nav--active .nav-list {
  width: 277px;
}
.menu .nav--active .nav-list .nav-list__item {
  opacity: 1;
  visibility: visible;
}
.menu .nav--active .nav-list .nav-list__item:nth-child(1) {
  right: 102px;
}
.menu .nav--active .nav-list .nav-list__item:nth-child(2) {
  right: 184px;
}/*# sourceMappingURL=main.css.map */