@charset "utf-8";

// color
$c-white: #ffffff;
$c-black: #000000;
$c-bg: #101010;
$c-gray: #383838;
$c-orange: #ff4b12;

//font
@font-face {
	font-family: "Beatrice-Punctuation";
	font-display: swap;
	src: url(/common/src/font//Beatrice-punctuation.woff) format("woff");
}
@font-face {
	font-family: "Beatrice-Headline";
	font-display: swap;
	src: url(/common/src/font/BeatriceHeadline-RegularItalic.woff) format("woff");
}
@font-face {
	font-family: "noto-sans-jp";
	font-display: swap;
	font-weight: normal;
	src: url(/common/src/font/NotoSansJP-Regular.woff2) format("woff2");
}
@font-face {
	font-family: "noto-sans-jp";
	font-display: swap;
	font-weight: bold;
	src: url(/common/src/font/NotoSansJP-Bold.woff2) format("woff2");
}
$f-disp: "Beatrice-Headline", "Beatrice-Punctuation", serif;
$f-basic: "Arial", sans-serif;
// $f-jp: "noto-sans-jp", sans-serif;
$f-jp: 'Noto Sans JP', sans-serif;
